
# Created by https://www.gitignore.io/api/linux,django,python

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


# End of https://www.gitignore.io/api/linux,django,python

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.pkl
*.txt
*.hdf5
.models
intellisent/sent_frontend/migrations/0003_tweet.py
intellisent/sent_frontend/migrations/0001_initial.py
intellisent/sent_frontend/migrations/0002_auto_20180326_1726.py
intellisent/sent_frontend/migrations/0004_auto_20180328_0117.py
intellisent/sent_frontend/migrations/0005_channel_category.py
intellisent/sent_frontend/migrations/0006_auto_20180328_2259.py
intellisent/sent_frontend/migrations/0007_auto_20180329_0145.py
intellisent/sent_frontend/migrations/0008_auto_20180330_1329.py
intellisent/sent_frontend/migrations/0009_auto_20180331_0258.py
intellisent/sent_frontend/migrations/0010_fbcomment.py
intellisent/sent_frontend/migrations/0011_fbcomment_sentiment.py
intellisent/sent_frontend/migrations/0012_trendingtweets.py
intellisent/sent_frontend/migrations/__init__.py
intellisent/sent_frontend/migrations/hide/0001_initial.py
intellisent/sent_frontend/migrations/hide/0002_auto_20180326_1726.py
intellisent/sent_frontend/migrations/hide/0003_tweet.py
intellisent/sent_frontend/migrations/hide/0004_auto_20180328_0117.py
intellisent/sent_frontend/migrations/hide/0005_channel_category.py
intellisent/sent_frontend/migrations/hide/0006_auto_20180328_2259.py
intellisent/sent_frontend/migrations/hide/0007_auto_20180329_0145.py
intellisent/sent_frontend/migrations/hide/0008_auto_20180330_1329.py
intellisent/sent_frontend/migrations/hide/0009_auto_20180331_0025.py
intellisent/sent_frontend/migrations/hide/0010_auto_20180331_0135.py
intellisent/sent_frontend/migrations/hide/0011_auto_20180331_0137.py
intellisent/sent_frontend/migrations/hide/0012_auto_20180331_0139.py
intellisent/sent_frontend/migrations/hide/0013_auto_20180331_0145.py
intellisent/sent_frontend/migrations/hide/0014_auto_20180331_0152.py
intellisent/sent_frontend/migrations/hide/0015_auto_20180331_0157.py
intellisent/sent_frontend/migrations/hide/0016_auto_20180331_0159.py
intellisent/sent_frontend/migrations/hide/0017_remove_fbcomment_program.py
intellisent/sent_frontend/migrations/hide/0018_delete_fbcomment.py
intellisent/sent_frontend/migrations/hide/0019_auto_20180331_0235.py
intellisent/sent_frontend/migrations/hide/0020_remove_program_fb_page.py
intellisent/sent_frontend/migrations/hide/0021_program_fb_page.py
intellisent/sent_frontend/migrations/hide/0022_auto_20180331_0249.py
intellisent/sent_frontend/migrations/hide/0023_auto_20180331_0250.py
.~lock.sentiment-dataset.csv#
.~lock.lstm.csv#
.~lock.tweets_new.csv#
abdul