{% extends 'sent_frontend/base.html' %}
{% load staticfiles %}

{% block title %}Channels{% endblock %}

{% block header %}Channels{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class ="row">
        <div class="col-lg-3">
            <div class = "card">
            <h4 class="card-title">Our Channels</h4>
            <h6 class="card-subtitle">A list of our channels</h6>

            <ul>
                {% for channel in channel_list %}
                <li><a href="/channel/{{ channel.id }}">{{ channel.name }}</a></li>
                {% endfor %}
              </ul>

            </div>

        </div>
    </div>

        
</div>
{% endblock %}