{% extends 'sent_frontend/base.html' %}
{% load staticfiles %}

{% block title %}{{ show.name }}{% endblock %}

{% block header %}{{ show.name }}{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class ="row">
        <div class="col-lg-3">
            <div class = "card">
            <h6 class="card-subtitle">Listings of episodes</h6>

            <ul>
                {% for episode in episodes %}
                                 <li><a href="/channel/{{ channel.id }}/show/{{ show.id }}/episode/{{ episode.id }}">{{ episode.airtime }}</a></li>

                {% endfor %}
              </ul>

            </div>

        </div>
    </div>

        
</div>
{% endblock %}